{% extends "layout.html" %}

{% block title %}Learn Sudoku{% endblock %}

{% block content %}
    <h1>Learn Sudoku</h1>
    <p> </p>
    <p> </p>
    <h3>What is Sudoku?</h3>
    <p> Sudoku is a largely analytical and logical puzzle game, wherein the player’s objective is to fill in a 9x9 grid with numbers, such that each row, column, and subgrid (3x3 grids within
        the 9x9 grid) contains numbers 1-9, without any sort of repetition. In all sudoku puzzles, the player starts with a partially filled out grid, and requires the player to break down
        filling in numbers into logical steps, making the player methodically decide where they can and can’t place certain numbers. Sudoku originated from 19th century French newspapers,
        first appearing as puzzles for readers to play and fill out with pen and paper. However, the game was able to scale up to a growing digital audience, thanks to the development of a sudoku
        puzzle creation algorithm in 2004, devised by programmer Wayne Gould. Even today, in a largely digital and fast-paced era, sudoku remains an extremely popular game thanks to its simple yet
        challenging nature.
    </p>

    <p> </p>
    <p> </p>
    <h3>What are the Rules?</h3>
    <p> The rules of Sudoku are extremely minimal, this simplicity being one of the great factors for the game's longevitity. Just remember these few, simple rules/regulations: </p>
    <ol>
        <li class="li-text"> The player starts on a partially filed out, 3x3 grid. </li>
        <li class="li-text"> The objective of the game is to fill out the grid with single digit numbers, in it's entirety.</li>
        <li class="li-text"> No numbers can repeat. A number can only appear once in each row, column, and subgrid.</li>
    </ol>

    <p> </p>
    <p> </p>
    <h3>How to Improve</h3>
    <p> As with any game, there are many ways to improve. Whether they be strategies, technique, or flat-out knowledge obtained from constsantly playing. Here are a few tips to improve your sudoku game:</p>
    <ul>
        <h5>Look for the most simple solutions</h5>
        <li>It's extremely easy to miss the most simple things when we try to observe things wholistically, or in a very sophisticated manner. Sometimes, it's better to look for the small things; finding one easy number to fill in, looking at each subgrid individually, and actively trying not to solve the whole puzzle in one glance.</li>
        <p> </p>
        <h5>Don't fixate</h5>
        <li>It is extremely easy to become frustrated, looking at the exact same grid, row, or column, and not understand what the missing piece is. Sometimes it's better to take your business elsewhere, and start fresh.</li>
        <p> </p>
        <h5>Use the Sudoku Solver!</h5>
        <li>Sometimes you may feel completely and totally stuck. If you feel you need to, use the sudoku solver. There is no shame in it. Just make sure to analyze the solved puzzle so you can learn something from it. That way, the next time you try to solve a sudoku puzzle, you'll solve it in a heartbeat!</li>
    </ul>
{% endblock %}
