{% extends "layout.html" %}

{% block title %}References{% endblock %}

{% block content %}
    <h1>References</h1>

    <h4>The following resources helped me out immensely when creating this web application. Please feel free to check them out and support their creators.</h4>

    <p> </p>
    <p> </p>
    <p> </p>

    <ul>
        <h5>Learning Sudoku</h5>
        <li><a href="https://www.learn-sudoku.com">Learn-Sudoku.com</a></li>
        <li><a href="https://en.wikipedia.org/wiki/Sudoku">Sudoku Wikipedia Article</a></li>
        <li><a href="https://www.seniorlifestyle.com/resources/blog/5-tips-sudoku-beginners/">Beginner Sudoku Tips</a></li>
    </ul>

    <p> </p>
    <p> </p>
    <p> </p>

    <ul>
        <h5>Algorithmic Implementation of the Sudoku Solver</h5>
        <li><a href="https://en.wikipedia.org/wiki/Sudoku_solving_algorithms#:~:text=A%20brute%20force%20algorithm%20visits,is%20allowed%20to%20be%20there.">Wikipedia Sudoku Solving Algorithms</a></li>
        <li><a href="https://en.wikipedia.org/wiki/Brute-force_search">Wikipedia Brute-force Search</a></li>
    </ul>

    <p> </p>
    <p> </p>
    <p> </p>

    <ul>
        <h5>Overall Programming/Coding</h5>
        <li><a href="https://getbootstrap.com/docs/5.0/getting-started/introduction/">Bootstrap Documentation</a></li>
        <li><a href="https://developer.mozilla.org/en-US/docs/Web/CSS">CSS Documentation</a></li>
        <li><a href="https://docs.python.org/3/">Python Documentation</a></li>
        <li><a href="https://flask.palletsprojects.com/en/3.0.x/">Flask Documentation</a></li>
        <li><a href="https://www.w3schools.com/html/html_scripts.asp">Using HTML with Javascript</a></li>
        <li><a href="https://docs.github.com/en/get-started/writing-on-github/getting-started-with-writing-and-formatting-on-github/basic-writing-and-formatting-syntax">Github Markdown File Syntax and Convention</a></li>
        <li><a href="https://www.youtube.com/watch?v=mqhxxeeTbu0&list=PLzMcBGfZo4-n4vJJybUVV3Un_NFS5EOgX&index=1">Tech With Tim Flask Tutorials</a></li>
    </ul>
{% endblock %}
